body {
    background: rgb(0, 225, 255);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
}

input#res{
    font: normal 20pt Arial;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    width: 216px;
    height: 30px;
    margin: auto;
}
 
footer {
    color: white;
    text-align: center;
    font-style: italic;
}

div#btn{
    text-align: center;
}

input#igual{
    text-align: center;
    background-color: white;
    font: bold 15pt Arial;
    width: 50px;
    height: 50px;
}

div#teclado{
    text-align: center;
}

input#btnum{
    background-color: white;
    font: bold 15pt Arial;
    width: 50px;
    height: 50px;
}

input#mult{
    background-color: white;
    font: bold 15pt Arial;
    width: 50px;
    height: 50px;
}

input#menos{
    background-color: white;
    font: bold 15pt Arial;
    width: 50px;
    height: 50px;
}

input#mais{
    background-color: white;
    font: bold 15pt Arial;
    width: 50px;
    height: 50px;
}

input#div{
    background-color: white;
    font: bold 15pt Arial;
    width: 50px;
    height: 50px;
}

input#clear{
    background-color: white;
    font: bold 15pt Arial;
    width: 50px;
    height: 50px;
}

input#virgula{
    background-color: white;
    font: bold 15pt Arial;
    width: 50px;
    height: 50px;
}

input#raiz{
    background-color: white;
    font: bold 15pt Arial;
    width: 50px;
    height: 50px;
}

input#parent1{
    background-color: white;
    font: bold 15pt Arial;
    width: 50px;
    height: 50px;
}

input#parent2{
    background-color: white;
    font: bold 15pt Arial;
    width: 50px;
    height: 50px;
}

input#delete{
    background-color: white;
    font: bold 15pt Arial;
    width: 50px;
    height: 50px;
}